@media only screen and (max-width: 576px) {
   /* CSS rules for screens equal to or wider than 576px */
   #search {
       width: 70% !important;
   }
 }
 
.auth:hover {
  text-decoration: underline !important;
  color: #212529 !important;
}

.breadcrumbs {
  text-decoration: none !important;
}

.breadcrumbs:hover {
  text-decoration: underline !important;
}

.fixed-size-company-logo {
  height: 411px;
  width: 100%;
}

.fixed-size {
  height: 300px;
  width: 100%;
}

.fixed-size-md {
  height: 200px;
  width: 100%;
}

.fixed-size-responsive {
  height: 100% !important;
  width: 100% !important;
}

.fixed-size-sm {
  height: 100px;
  width: 100px;
}

.carousel-slider {
  height: 400px;
}


.sidebar {
  position: fixed;
  width: 230px;
  height: 100vh;
  padding-top: 80px;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar li {
  margin-bottom: 5px;
  padding: 0;
}

.sidebar li.active {
  background: #212529;
  border-radius: 8px;
}

.sidebar li.active a{
  color: #eee;
  padding-left: 35px !important;
}

.sidebar li a:hover{
  background: #212529;
  padding-left: 35px !important;
  border-radius: 8px;
  transition-property: padding-left;
  transition-duration: 0.4s;
  color: #eee;
}

.sidebar li a {
  color: #212529;
}

.content {
  min-height: 100vh;
  width: 100%;
  padding-left: 250px;

}

#opn-cls-btn {
  position: fixed;
  top: 100;
  left: 100;
  width: 75px;
  height: 50px;
  padding-left: 5px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 1;
}

#opn-cls-btn button {
  background: #212529 ;
  color: #eee;
  transition: all 0.4s;
}

#side_nav {
  min-width: 250px;
  max-width: 250px;
}

hr .h-color {
  background: #eee;
}


@media(max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    transition: all 0.4s;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }

  .content {
    padding-left: 0;
  }

  .carousel-slider {
    height: 200px;
  }

  .fixed-size-company-logo {
    height: 100%;
    width: 100%;
  }

  .fixed-size-md {
    height: 260px;
    width: 100%;
  }
}

.logout {
  position: absolute;
  width: 100%;
  bottom: 0; 
}

/* Category Cards */
#categories .img-wrapper {
  max-width: 100%;
  height: 90vw !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#categories img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width:576px) {
  #categories .carousel-inner {
    display: flex; 
  }
  
  #categories .carousel-item {
    display: block; 
    margin-right: 0;
    flex: 0 0 calc(100%/4);
  }

  #categories .img-wrapper {
    height: 17vw !important;
  }

  #categories .carousel-control-prev {
    left: 0 !important;
  }
  
  #categories .carousel-control-next {
    right: -3.5% !important;
  }
}

#categories .carousel-inner {
  padding: 1em;
}

#categories .card {
  margin: 0 .5em;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);
}

#categories .carousel-control-prev, #categories .carousel-control-next {
  width: 6vh;
  height: 6vh;
  background-color: #212529;
  border-radius: 50%;
  top: 40%;
  transform: translate(-50%);
  opacity: .5;
}

#categories .carousel-control-prev {
  left: 5%;
}

#categories .carousel-control-next {
  right: -10%;
}

#categories .carousel-control-prev:hover, #categories .carousel-control-next:hover {
  opacity: .9;
  font-size: large;
}

#categories .card-wrapper:hover {
  position: relative !important;
  bottom: 5px !important;
  transition-property: bottom !important;
  transition-duration: 0.4s !important;
}

#categories .card:hover {
  border: 1px solid #212529 !important;
  transition-property: border !important;
  transition-duration: 0.4s !important;
}

.overlay {
  position: relative;
  top: 90%;
}

.overlay-b {
  position: relative;
  top: 90%;
}

/* All categories */
.fixed-size-category {
  height: 100% !important;
  width: 15vw !important;
}

.img-wrapper-category {
  max-width: 100%;
  height: 15vw !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#category_image img {
  height: 100% !important;
  width: 100% !important;
}

#all_category .card:hover {
  position: relative !important;
  bottom: 5px !important;
  border: 1px solid #212529 !important;
  transition-property: bottom !important;
  transition-property: border !important;
  transition-duration: 0.4s !important;
}

@media screen and (max-width: 768px) {
  .img-wrapper-category {
    height: 90vw !important;
  }
}

/* Product Listing */
#product .card:hover {
  position: relative;
  bottom: 5px;
  border: 1px solid #212529 !important;
  transition-property: border !important;
  transition-duration: 0.4s !important;
}





.mask {
  background-color: rgba(0, 0, 0, 0.5);
}

.hover-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 1;
  transition: opacity 0.5s;
}

.hover-overlay:hover {
  opacity: 0.8;
}

.hover-zoom {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hover-zoom:hover {
  transform: scale(1.2);
}
  

/* Style for form-floating */
.form-floating label {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  opacity: 0.5;
  transform-origin: top left;
  transform: translate(0, 0.375rem) scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

.form-floating .form-control {
  padding-top: 1.625rem;
}

.form-floating .form-control:focus ~ label,
.form-floating .form-control:not(:placeholder-shown) ~ label {
  opacity: 1;
  transform: translate(0, 0) scale(0.85);
}

/* Style for form-outline */
.form-outline label {
  font-size: 0.875rem;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.form-outline .form-control:focus-within:not(:focus) ~ label,
.form-outline .form-control:not(:placeholder-shown) ~ label {
  font-size: 0.75rem;
  opacity: 1;
  transform: translate(-0.25rem, -0.75rem) scale(0.9);
}

.form-outline .form-control:focus-within:not(:focus):invalid,
.form-outline .form-control:not(:placeholder-shown):invalid {
  border-color: #f44336;
}
